.app {
	text-align: center;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.app__main {
	display: flex;
	flex-grow: 1;
	padding: 0 100px;
}
.header__title {
	margin: 0;
}
.title__link {
	text-decoration: none;
	color: inherit;
}
.categories {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.categories__container {
	height: 100%;
	display: flex !important;
	flex-direction: column;
	padding: 0 24px;
}
.categories__box {
	/* height: 100%; */
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	gap: 20px;
	flex-grow: 1;
}
.categories__item-wrapper {
	display: flex;
	flex: 1 1 160px;
	align-items: center;
	justify-content: center;
}
.categories__item {
	display: flex;
}
.button-wrapper {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.main-button {
	display: flex;
}
.main-button:hover {
	background-color: #0000aa;
}
.category {
	display: flex;
	width: 100px;
	height: 100px;
	border: 1px solid #333;
	border-radius: 2px;
	text-align: center;
	/* color: #333; */
	justify-content: center;
	cursor: pointer;
}
.category__title {
	align-self: center;
	margin: 0;
}

.page-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.difficulty {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.difficulty__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
.difficulty__wrapper {
	display: block;
	padding-bottom: 100px;
}

.question-card {
	width: 100%;
	height: 100%;
}

.answers {
	list-style-type: none;
	padding: 0;
}

.answer {
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	min-height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

.score {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.score__wrapper {
	display: flex;
	flex-direction: column;
}

.footer {
	height: 100px;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}
